# MongoDB Database Connection String
# Paste your MongoDB Connection URL below (from MongoDB Atlas or self-hosted MongoDB)
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/bijay_website?retryWrites=true&w=majority

# Server Port (Default: 5001)
PORT=5001
